/* Certificates */

.certificates {
    width: 100%;
    z-index: 10;
}

.certificates ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
}

.certificates li {
    font-family: 'Italiana', serif;
    font-size: 225%;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.certificates a {
    width: 100%;
}

/* Underline effects */
.certificates a {
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: text-shadow 0.3s ease, transform 0.3s ease;
    font-weight: bold;
    text-shadow: 0.8px 0.8px rgb(234, 225, 225);
    opacity: 50%;
    height: 100%;
    background-color: orange;
    padding-left: 20px; 
    /*     padding-left: 20px; 
 */
}


.certificates a:hover,
.certificates a:focus,
.certificates a.active {
    opacity: 100%;
    text-shadow: 4px 4px rgb(255, 0, 255);
    transition: text-shadow 0.7s ease, transform 0.7s ease;
}

/* 
TODO:
EFFECT SHOULD NOW BE <CERTIFICATE>
where the brackets enter in from outer and fade out when not hovered!

*/

/* testing */
/* Position the '>' symbol before the text */
span::before {
    content: '<';
    position: relative;
    left: 0;  /* Position it to the left of the text */
    opacity: 0;  /* Initially hidden */
  }
/* span::before {
    content: '>';
    position: relative;
    right: 0;
    opacity: 0;
} */
  
span:hover::before {
    opacity: 1; /* Make the '>' visible on hover */
  }

  .certificates a span::before {
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .certificates a span:hover::before {
    opacity: 1; /* Make the '>' visible on hover */
    transform: translateX(0); /* Optional: for additional movement if needed */
  }
