.certificates {
    width: 100%;
    z-index: 10;
}

.certificates ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.certificates li {
    font-family: 'Italiana', serif;
    font-size: 225%;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.certificates a {
    width: 100%;
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: text-shadow 0.3s ease, transform 0.3s ease;
    font-weight: bold;
    text-shadow: 0.8px 0.8px rgb(234, 225, 225);
    opacity: 50%;
    height: 100%;
}

.certificates a:hover {
    transition: opacity 500ms, transform 500ms;
    text-shadow: 2px 2px rgb(255, 73, 255);
    transform: scale(1.1);
}

.certificates a:hover,
.certificates a:focus,
.certificates a.active {
    opacity: 100%;
    text-shadow: 4px 4px rgb(255, 0, 255);
    transition: text-shadow 0.7s ease, transform 0.7s ease;
}

.certificates a::after {
    content: '>';
    position: absolute;
    left: -1em;
    top: 50%;
    transform: translateY(-50%) translateX(-100%);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    color: black;
    font-size: 1em;
    padding-bottom: 3px;
}

.certificates a:hover::after,
.certificates a:focus::after,
.certificates a.active::after {
    transform: translateY(-50%) translateX(0);
    opacity: 1;
    transition: opacity 150ms, transform 150ms;
}
